# Copyright (C) 2023 VMware, Inc. All rights reserved.
# -- VMware Confidential
# version 1.0.0

export BRANCH_NAME="nsx-keeper"
export BRANCH_VER="4.1.3"
export REPORT_DIR=/root/site-content/
#Enter remote machine details, eg:<username>@<IP>. Can also enter ssh aliases. (Optional)
export REMOTE_MACHINE=root@10.106.2.103
